{% extends "base.html" %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h4>StoryPro</h4>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Welcome to StoryPro - A space for you reach your writing goals and to achieve your storytelling dreams.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4>How it Works</h4>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>On StoryPro, we create workspaces where we can create our own fictional Universes.</p>
                    <p>Within our workspaces we help you track your progress across our whatever you are writing.  Both as a whole project and its subsections, think books and their chapters.</p>
                    <p>Your Workspaces are also used to keep track of Topics and their collection.  Topics can be anything from locations, characters, creatures in your fantasy or technologies in your sci-fi.</p>
                    <p>All your Universes are private.  By default only you can access them.  You can of course invite other users to read or edit.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4>The Story of StoryPro</h4>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>StoryPro was made with love for a girl who loves reading and writing.</p>

                </div>
            </div>
        </div>

    </div>


{% endblock %}