{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">{{ user }}</div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4">{{ user }}</div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>The Story of StoryPro</h4>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>StoryPro was made with love for a girl who loves reading and writing.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}