{% extends "base.html" %}

{% block head_js %}

{% load static %}

<script>
    var tags = [
    {% for t in topics %}
    "{{ t }}",
    {% endfor %}
    ];
</script>
<script src="{% static 'js/chapter.js' %}"></script>

{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-8">
    <form method="POST">
    {% csrf_token %}
        <textarea style="width: 100%">
        </textarea>
        <input type="submit">
    </form>
    </div>
    <div class="col-md-4">
        Than
        <ul id="llist">
            {% for t in topics %}
            <li>{{ t }}</li>
            {% endfor %}
        </ul>
        this
        <ul id="alist">
            {% for t in topics %}
            <li>{{ t }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>

{% endblock %}