{% extends "base.html" %}

{% block content %}


{% if user.is_authenticated %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
        <a class="btn btn-primary" href="{% url 'createworkspace' %}"><h3>Create Workspace</h3></a>
        </div>
    </div>
    <div class="row">

        {% for space in workspaces %}
            <div class="col-sm-4" style="background-color: lightblue;">
                <a href="{% url 'workspace' space.id %}"><h3 style="background-color: white;  margin: 15px">{{ space.name }}</h3></a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <p>You are not logged in.  You should not be here</p>
        </div>
        <div class="col-sm-4">
        </div>

    </div>

{% endif %}


{% endblock %}